/* PAGE */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.about,
.contact_me { padding: 80px 0 60px 0; }

.special_line {
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.line {
    width: 15%;
    border: 2px solid;
    border-radius: 2px;
    margin: auto 2rem;
}

.special_line i {
    font-size: 30px;
}

.jumbotron p {
    font-size: 1.5rem;
}

/* Navbar */
.navbar { padding: 18px 0; }

.navbar-brand > span {
    font-size: 27px;
}

.nav-link { 
    color: white !important;
    margin: auto 5px;
 }
/* /Navbar */ 

/* Jumbotron */
.jumbo_avatar { width: 250px; }
/* /Jumbotron */

/* Portofolio */
.my_portfolio { padding-bottom: 55px; }

.my_portfolio img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}
/* /Portfolio */

/* About */
.about p {
    font-size: 1.4rem;
}

.about .btn {
    border: 1px solid white;
}

.about .btn:hover {
    background-color: transparent;
}
/* /About */

/* Contact me */
.contact_me form {
    width: 80%;
}

.contact_me form label {
    margin: unset; 
    font-size: 1.2rem;
}

.contact_me form input { height: 25px; }

.contact_me form input, 
.contact_me form textarea {
    border: unset;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
}

.contact_me .form-group { text-align: left; }

.contact_me .row {
    justify-content: center;
}

.contact_me .btn {
    border: 0px;
}

.contact_me .btn:hover { background-color: #1abc9c; }

/* Fixed */
.site_copy {
    height: 75px;
}

.site_info {
    height: 170px;
}
/* /Fixed */

/* UT */
.bg_dark_gray {
    background-color: #2c3e50;
}

.bg_dark_gray_2 {
    background-color: #3a546d;
}

.bg_aqua_green {
    background-color: #1abc9c;
}

.dark_gray {
    color: #2c3e50;
}

.dark_gray2 { 
    color: #333333;
}

.white {
    color: white;
}

.green {
    color: #1abc9c;
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.m_top75 {
    margin-top: 75px;
}

.fs_3 {
    font-size: 3rem;
}